<!-- insert nav bar here -->
 <div id="genre-index">

    <h1>search by genre</h1>

    <nav class="category-search">
        <div class="nav-element">
            <% @genres_all.each do |genre| %>
                <%=link_to genre_path(genre.id), :class => "link-to" do %>
                <p><%=genre.title%></p>
                <%end%>
            <%end%>
        </div>
    </nav>    

    <% @artworks_all.each do |artwork| %>

        <div class="flexbox">
            <div class="listings">
                <%= image_tag artwork.pic if artwork.pic.attached? %>
                <h2><%= artwork.title %></h2>
                <p><%= number_to_currency(artwork.price / 100.0) %></p>
            </div> 
        </div>
    
    <% end %>

</div>