<div id="profile">

    <%= render "/nav_bar" %>

    <!-- image uploaded by user or default image -->
    
    <div class="profile-picture">
        <% if current_user.pic.attached? %>
            <div class="pic-div"><%=image_tag current_user.pic, class: "user-pic"%></div>
            <p class="button"><%= link_to "edit profile", edit_profile_path, class: "edit-profile" %></p>
        <% else %>
            <div class="place-holder"></div>
                <p><%= link_to "change display picture", edit_profile_path %></p>
        <%end %>
    </div>

    <p class="button"><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "log-out" %></p>



    <h1> <%=current_user.username%> </h1>

    <p> 
        <% if current_user.bio == nil %>
            <p><%= link_to "write a bio", edit_profile_path %></p>
        <% else %>
            <%=current_user.bio%>
        <%end %>
    </p>

    <div class="line"></div>

    <!-- then feed of Content uploaded with titles and prices -->
    <div class="user-art">
        <h2><%=current_user.name%>'s work</h2>

            <div class="flexbox">
                <% @user_content.each do |artwork| %>
                    <div class="listings">
                        <%=link_to content_path(artwork), class: "link-to" do %>
                            <%= image_tag artwork.pic if artwork.pic.attached? %>
                            <h2>
                            <%= artwork.title %>
                            </h2>
                            <p><%= number_to_currency(artwork.price / 100.0) %></p>
                        <%end%>
                    </div> 
                <% end %>
            </div>
    </div>
</div>


