<div id="profile">

    <%= render "/nav_bar" %>

    <!-- image uploaded by user or default image -->
    
    <div class="profile-picture">
        <% if current_user.pic.attached? %>
            <%=image_tag current_user.pic%>
        <% else %>
            <div>
                <img src="https://cdn1.iconfinder.com/data/icons/flat-character-color-1/60/flat-design-character_6-512.png"/>
            </div>
            <%= link_to "change display picture", edit_profile_path %>
        <%end %>
    </div>

    <h1> <%=current_user.username%> </h1>

    <p> 
        <% if current_user.bio.attached? %>
            <%=current_user.bio%>
        <% else %>
            <div>
                <%= link_to "write a bio", edit_profile_path %>
            </div>
        <%end %>
    </p>

    <button>tutorials</button> 
    <button>donate</button>
    <button>subscribe</button>

    <!-- then feed of Content uploaded with titles and prices -->
    <div class="user-art">
        <h2><%=current_user.name%>'s work</h2>

            <div class="flexbox">
                <% @user_content.each do |artwork| %>
                    <div class="listings">
                        <%=link_to content_path(artwork), class: "link-to" do %>
                            <%= image_tag artwork.pic if artwork.pic.attached? %>
                            <h2>
                            <%= artwork.title %>
                            </h2>
                            <p><%= number_to_currency(artwork.price / 100.0) %></p>
                        <%end%>
                    </div> 
                <% end %>
            </div>

    </div>
</div>


