<main id="results">

    <%= render "/nav_bar" %>

    <h1> All results </h1>

    <%= render "/back_button" %>

        <!-- insert nav bar here -->
        <nav class="category-search">
            <div class="nav-element">
                <p><%= link_to "genre", genres_path,  :class => "link-to" %></p>
                <p><%= link_to "artist", artists_path, :class => "link-to"%></p>
                <p><%= link_to "medium", mediums_path, :class => "link-to"%></p>
            </div>
        </nav>    

    <%= render "/listings" %>

</main>