<div id="show">
    <%= render "/nav_bar" %>

    <div class="flexbox">
    <!-- artwork image -->
        <div class="artwork-image">
            <%= image_tag @content.pic if @content.pic.attached? %>
             <h2>
                <%= @content.title %>
            </h2>

        </div>

        <!-- artwork deets -->
        <section class="artwork-details">
            <h3>Price:</h3>
            <p>
                $<%=@content.price / 100.to_f %>
                <% unless @content.order %>
                    <button data-stripe="buy">Buy Now!</button>
                <% end %>
            </p>

            <h3>Artist:</h3>
            <p><%= @content.user.username %><p>
            
            
            <h3>Genre:</h3>

            <p>
                <% if @content.genres.length == 0 %>
                    <p> None listed </p>
                <%else%>
                    <% @content.genres.each do |genre| %>
                    <%= genre.title %>, 
                    <%end %>
                <%end%>
            </p>

            <h3>Medium:</h3>

            <p>
                <% if @content.mediums.length == 0 %>
                    <p> None listed </p>
                <%else%>
                    <% @content.mediums.each do |medium| %>
                        <%= medium.material%>
                    <%end%>
                <%end %>
            </p>
        </section>

        <script src="https://js.stripe.com/v3/"></script>

        <script>
            document.querySelector("[data-stripe='buy']").addEventListener("click", () => {
                const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
                
                stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
                });
            });
        </script>
    </div>

    <section class="bottom-buttons">
        <button><%= link_to 'Edit', edit_content_path(@content) if user_signed_in? and @content.user_id == current_user.id %> </button>
         <button><%= link_to 'Destroy', @content, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? and @content.user_id == current_user.id %></button>
         <button><%= link_to 'Back', results_all_path %></button>
    </section>
</div>
    
