
<h1> this is the all results page</h1>

    
    <!-- insert nav bar here -->
    <nav class="category-search">
    <%= link_to "genre", genres_path%>
    <%= link_to "artist", artists_path%>
    <%= link_to "medium", mediums_path%>

    <!-- search by catagory (selected by user on previous screen) at top -->
    </nav>    

<div class="flexbox">
    <% @artworks_all.each do |artwork| %>

    <div class="listing">
        <%= image_tag artwork.pic if artwork.pic.attached? %>
        <h2><%= artwork.title %></h2>
        <p><%= number_to_currency(artwork.price / 100.0) %></p>
    </div>
    <% end %>

    <!-- this is how to list all data -->
</div>
