
<h1> this is the all results page</h1>

    
    <!-- insert nav bar here -->
    <nav class="category-search">
    <%= link_to "genre", genres_path%>
    <%= link_to "artist", artists_path%>
    <%= link_to "medium", mediums_path%>

    <!-- search by catagory (selected by user on previous screen) at top -->
    </nav>    
    
    <p>
    <% @artworks_all.each do |artwork| %>
    <%= artwork[:title] %>
    <%= artwork[:pic] %> 
    <%= artwork[:price] %>
    <% end %>
    <!-- this is how to list all data -->
    </p>



    <!-- picture for artwork -->
    <!-- title for artwork -->
    <!-- price for artwork -->
    <!-- repeat -->

