<main id="results">

    <%= render "/nav_bar" %>

    <h1> All results </h1>

        <!-- insert nav bar here -->
        <nav class="category-search">
            <div class="nav-element">
                <p><%= link_to "genre", genres_path,  :class => "link-to" %></p>
                <p><%= link_to "artist", artists_path, :class => "link-to"%></p>
                <p><%= link_to "medium", mediums_path, :class => "link-to"%></p>
            </div>
        </nav>    

    <div class="flexbox">
        <% @artworks_all.each do |artwork| %>
        <!-- this is how to list all data -->
            <div class="listings">
                <%= image_tag artwork.pic if artwork.pic.attached? %>
                <h2><%= artwork.title %></h2>
                <p><%= number_to_currency(artwork.price / 100.0) %></p>
            </div>
        <% end %>
    </div>

</main>