<!-- insert nav bar here -->
<div id="mediums-index">
    <%= render "/nav_bar" %>

    <h1>this is all the mediums!</h1>

    <nav class="category-search">
        <div class="nav-element">
            <% @mediums_all.each do |medium| %>
                <%=link_to medium_path(medium.id), :class => "link-to" do %>
                <p><%=medium.material%></p>
                <%end%>
            <%end%>
        </div>
    </nav>    

    <% @artworks_all.each do |artwork| %>

        <div class="flexbox">
            <div class="listings">
                <%= image_tag artwork.pic if artwork.pic.attached? %>
                <h2><%= artwork.title %></h2>
                <p><%= number_to_currency(artwork.price / 100.0) %></p>
            </div>
        </div>
    <% end %>

</div>