
<div id="nav_bar">

    <!--mobile dropdown menu -->

    <nav class="nav-flexbox">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <p><%= link_to "Explore", explore_path,  :class => "link-to" %></p>
                    <p><%= link_to "Sell", sell_path,  :class => "link-to" %></p>
                    <p><%= link_to "Learn", home_path,  :class => "link-to" %></p>
                    <p><%= link_to "Profile", profile_path,  :class => "link-to" %></p>
                    <p><%= link_to "Contact", contact_path,  :class => "link-to" %></p>
                </div>
        </div>
        <div class="nav-element">
            <%=form_with url: results_all_path, method: "get", local: true do |form|%>
            <%= form.text_field :search%>
        </div>
        
        <div class="nav-element">
            <%= form.submit "Search", class: "search-button"%>
        </div>
            <%end%>
    </nav>

    <!-- desktop menu -->

    <section class="desktop-nav">

        <div class="nav-element">
            <p><%= link_to "explore", explore_path,  :class => "link-to" %></p>
        </div>
        
        <div class="nav-element">
            <p><%= link_to "sell", sell_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <p><%= link_to "profile", profile_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <p><%= link_to "contact", contact_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <%=form_with url: results_all_path, method: "get", local: true do |form|%>
            <%= form.text_field :search%>
        </div>

        <div class="nav-element">
            <%= form.submit "Search", class: "search-button"%>
        </div>
            <%end%>

    </section>


</div>
