
<div id="nav_bar">

    <!--mobile dropdown menu -->

    <nav class="nav-flexbox">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="explore.html">Explore</a>
                    <a href="sell.html">Sell</a>
                    <a href="learn.html">Learn</a>
                    <a href="profile.html">Profile</a>
                    <a href="contact.html">Contact</a>
                </div>
        </div>
        <div class="search">
            <%=form_with url: results_all_path, method: "get", local: true do |form|%>
            <%= form.text_field :search%>
            <%= form.submit "Search", class: "search-button" %>
            <%end%>
        </div>
    </nav>

    <!-- desktop menu -->

    <section class="desktop-nav">

        <div class="nav-element">
            <p><%= link_to "explore", explore_path,  :class => "link-to" %></p>
        </div>
        
        <div class="nav-element">
            <p><%= link_to "sell", sell_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <p><%= link_to "profile", profile_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <p><%= link_to "contact", contact_path,  :class => "link-to" %></p>
        </div>

        <div class="nav-element">
            <%=form_with url: results_all_path, method: "get", local: true do |form|%>
            <%= form.text_field :search%>
        </div>
        
        <div class="nav-element">
            <%= form.submit "Search", class: "search-button"%>
        </div>
            <%end%>

    </section>


</div>
